:root {
  /* Visual configuration */
  --docoff-border-color: rgb(206, 212, 222);
  --docoff-border-radius: 0.35em;
  --docoff-background-color: rgba(179, 179, 179, 0.1);
  --docoff-placeholder-background-dark: #4d4d4d;
  --docoff-placeholder-background-light: #fff;
  --docoff-placeholder-border-color: #ccc;
  --docoff-placeholder-border-width: 2px;

  /* To simplify multiple component presentation we add margin to all top level elements*/
  --docoff-preview-children-margin: 0.25em;

  /* To improve component presentation we add padding inside the shadow DOM */
  --docoff-preview-padding: 1em;

  /*
    The Prism theme CSS file
    For options see: https://unpkg.com/browse/prismjs/themes/
   */
  --docoff-prism-css: https://unpkg.com/prismjs@1.29/themes/prism-twilight.min.css;

  /*
    Custom preview CSS file
    Typically this would be the CSS of your component
   */
  --docoff-preview-css: /shadow.css;
}
